# Importing libraries

In [7]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [10]:
data = pd.read_csv("C:/Users/vineeth/downloads/exercise.csv")
data

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0      14733363    male   68   190.0    94.0      29.0       105.0       40.8
1      14861698  female   20   166.0    60.0      14.0        94.0       40.3
2      11179863    male   69   179.0    79.0       5.0        88.0       38.7
3      16180408  female   34   179.0    71.0      13.0       100.0       40.5
4      17771927  female   27   154.0    58.0      10.0        81.0       39.8
...         ...     ...  ...     ...     ...       ...         ...        ...
14995  15644082  female   20   193.0    86.0      11.0        92.0       40.4
14996  17212577  female   27   165.0    65.0       6.0        85.0       39.2
14997  17271188  female   43   159.0    58.0      16.0        90.0       40.1
14998  18643037    male   78   193.0    97.0       2.0        84.0       38.3
14999  11751526    male   63   173.0    79.0      18.0        92.0       40.5

[15000 rows x 8 columns]

# Changing Gender into numerical ( 0 and 1)

In [11]:
data["Gender"] = data["Gender"].map({"male": 1 , "female": 0})

In [12]:
data.head

<bound method NDFrame.head of         User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0      14733363       1   68   190.0    94.0      29.0       105.0       40.8
1      14861698       0   20   166.0    60.0      14.0        94.0       40.3
2      11179863       1   69   179.0    79.0       5.0        88.0       38.7
3      16180408       0   34   179.0    71.0      13.0       100.0       40.5
4      17771927       0   27   154.0    58.0      10.0        81.0       39.8
...         ...     ...  ...     ...     ...       ...         ...        ...
14995  15644082       0   20   193.0    86.0      11.0        92.0       40.4
14996  17212577       0   27   165.0    65.0       6.0        85.0       39.2
14997  17271188       0   43   159.0    58.0      16.0        90.0       40.1
14998  18643037       1   78   193.0    97.0       2.0        84.0       38.3
14999  11751526       1   63   173.0    79.0      18.0        92.0       40.5

[15000 rows x 8 columns]>

In [13]:
data.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
dtype: int64

# Dividing values to X and y

In [17]:
X = data.drop("Heart_Rate", axis = 1)

In [18]:
X.shape

(15000, 7)

In [20]:
y = data["Heart_Rate"]

In [21]:
y.shape

(15000,)

# Spliting Data

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.33 , random_state = 10)

In [24]:
len(X_train) , len(y_train)

(10050, 10050)

In [25]:
len(X_test) , len(y_test)

(4950, 4950)

# Fitting Data

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
reg = LinearRegression()

In [28]:
reg.fit(X_train , y_train)

LinearRegression()

# Multi Linear Regression: y = m1x1 + m2x2 + m3x3 + m4x4 + m5x5 + c

In [29]:
reg.coef_  # m values

array([ 1.91178959e-08,  1.54860807e-01, -1.87914226e-03, -1.42999844e-02,
        9.90027557e-03,  9.74262135e-01,  1.61363121e-01])

In [30]:
reg.intercept_  # c values

75.36678143393367

# Testing data (m and c values)

In [39]:
data

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0      14733363       1   68   190.0    94.0      29.0       105.0       40.8
1      14861698       0   20   166.0    60.0      14.0        94.0       40.3
2      11179863       1   69   179.0    79.0       5.0        88.0       38.7
3      16180408       0   34   179.0    71.0      13.0       100.0       40.5
4      17771927       0   27   154.0    58.0      10.0        81.0       39.8
...         ...     ...  ...     ...     ...       ...         ...        ...
14995  15644082       0   20   193.0    86.0      11.0        92.0       40.4
14996  17212577       0   27   165.0    65.0       6.0        85.0       39.2
14997  17271188       0   43   159.0    58.0      16.0        90.0       40.1
14998  18643037       1   78   193.0    97.0       2.0        84.0       38.3
14999  11751526       1   63   173.0    79.0      18.0        92.0       40.5

[15000 rows x 8 columns]

In [41]:
#Giving values of serial number 2 to the multi regression equation and program should give "y" value as 94

a = 1.91178959e-08* 14733363 + 1.54860807e-01*1 + -1.87914226e-03*20 + -1.42999844e-02 * 166 + 9.90027557e-03 * 60 + 9.74262135e-01*14 + 1.61363121e-01*40.3 + 75.36678143393367

94.12855308592458

# Accuracy for train and test data

In [31]:
from sklearn.metrics import r2_score

In [33]:
y_train_pred = reg.predict(X_train)

In [34]:
r2_score(y_train , y_train_pred) * 100   ## Accuracy for Train Data

73.10467760915245

In [35]:
y_test_pred = reg.predict(X_test)

In [36]:
r2_score(y_test , y_test_pred) * 100   ## Accuracy for Test Data

71.9856494171724